body { text-decoration: none; list-style-type: none;  }
.wrapper { width: 1000px;  background-color: #f3f3f3; margin: auto; height: 1000px;}
.header { width: 1000px; line-height: 50px; background-color: yellow; color: red; text-align: center; font-weight: bold; font-size: 20px; }
.main { width: 1000px; height: 800px; background: green; }
.menu { width: 1000px; height: 40px; background: blue; }
.menu ul li { float:left; line-height: 40px; padding-left: 20px; list-style-type: none;}
.menu ul li a {  text-decoration: none; list-style-type: none; color: white;}
.menu ul li a:hover { color:  red; }

